#home {
  background: url("./imgs/img_main.jpg") center/cover no-repeat;
  padding: 20px;
  text-align: center;
  text-shadow: 2px 2px 8px #fff;
  background-size: auto 800px; /* 이미지의 높이를 500px로 설정 */
}
.redtext {
  color: rgb(245, 182, 182);
}

.navbarbg {
  background-color: #f8c6c1;
}
.navbarbgopen {
  background-color: #f8f1f0;
}

.mainboximg {
  width: 300px;
}

.font50 {
  font-size: 50px;
  color: #f8c6c1;
}

.fas {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  #home > p {
    display: hidden;
  }
}
